<div class="toolbar">
  <img width="50" alt="Logo" src="\assets\RBC_Royal_Bank.png" />
</div>

<div class="body">

  <div class="main-card">

    <input class="live-time-input" type="checkbox" [checked]="useLiveTime" (change)="setLiveTime()"> Use live time

    <div class="row">
      <clock-component [time]="timeNow" (timeChange)="updateSharedTime($event)" [disableInputs]="useLiveTime"></clock-component>
      <clock-component [time]="timeNow" (timeChange)="updateSharedTime($event)" [disableInputs]="useLiveTime"></clock-component>
    </div>

  </div>
</div>